<header class="product-delivery-page__header">
  <h1 class="mat-headline-5">Product Delivery</h1>
  <p class="subtitle">Backlog grooming, sprint planning, and feedback triage for every product.</p>
</header>

<mat-tab-group class="product-delivery-page" animationDuration="120ms" mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>account_tree</mat-icon>
      <span class="tab-label">Backlog</span>
    </ng-template>
    <div class="product-delivery-page__tab-content">
      <app-backlog-tab></app-backlog-tab>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>flag</mat-icon>
      <span class="tab-label">Sprints</span>
    </ng-template>
    <div class="product-delivery-page__tab-content">
      <app-sprints-tab></app-sprints-tab>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>feedback</mat-icon>
      <span class="tab-label">Feedback</span>
    </ng-template>
    <div class="product-delivery-page__tab-content">
      <app-feedback-tab></app-feedback-tab>
    </div>
  </mat-tab>
</mat-tab-group>
