@use '@angular/material' as mat;

html {
  color-scheme: dark;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$cyan-palette,
      theme-type: dark,
    ),
    typography: Roboto,
    density: 0,
  ));
  @include mat.strong-focus-indicators();
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
